@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}


.menu{
    display: sticky;
}

#errorText {
    color: white;
    font-size: 24px;
    font-family: "Sarala", cursive;
    animation: upDown 1.5s alternate infinite;
}

.loadBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background: crimson;
    width: 100%;
    height: 160%;
    position: absolute;
    z-index: 100000;
}

.load{
    width: 24px;
    height: 24px;
    border: 3px solid white;
    border-top: none;
    border-radius: 50%;
    border-top-right-radius: 50%;
    border-right: none;
    z-index: 100000;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes upDown {
    to{
        transform: translateY(-20px);
    }
}

.loadContent{
    display: block;
    z-index: -1;
}

.loadingSemHostinger{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 159%;
    background: crimson;
    backdrop-filter: blur(10px);
    z-index: 100000000;
}

#hostinger,#nohostinger, #hostingerTry{
    width: 228.09px;
    height: 57px;
    transition: 0.09s ease-in-out;
}

#hostingerTry{
    font-size: 20px;
}

#hostinger:hover,#nohostinger:hover, #hostingerTry:hover{
    transform: skew(-16deg);
    transition: 0.1s ease-in-out;
}

#hostinger:active, #nohostinger:active{
    width: 220.09px;
    height: 55px;
    font-size: 28px;
    transition: 0.1s ease-in-out;
}

#hostingerTry:active{
    width: 220.09px;
    height: 55px;
    font-size: 18px !important;
    transition: 0.1s ease-in-out;
}

.loadingSemHostinger > .menu > .menu-items{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}

.btnHostinger{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 120px;
}

.header-image{
    height: 72px;

}

.header-image-hostinger{
    display: none;
}

.header-menu{
    display: flex;
    gap: 32px;
}

.header-menu-item:nth-child(1):hover,.header-menu-item:nth-child(2):hover,.header-menu-item:nth-child(3):hover,.header-menu-item:nth-child(4):hover{
    color: rgba(0, 0, 0, .3);
    transition: all 0.09s ease-in;
}

.header-menu-item{
    font-family: "Sarala", sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}


.content{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.content-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-main-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-main-text-title{
    font-family: "Righteous",cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.content-main-text-subtitle{
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.content-main-text-button{
    background-color: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    width: 180px;
    height: 60px;
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    cursor: pointer;
}

.content-main-text-button:hover{

    background-color: rgba(236,214, 196,0.53);

}

.content-main-image{
    height: 430px;
}

.content-secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.content-secondary-title{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: "Righteous",cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.content-secondary-paragraph{
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

.footer{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.footer-image{
    height: 48px;
    display: block;
    margin: 0 auto;
}
